@charset "UTF-8";
html {
  font-size: 100%;
  margin-top: 0;
}

body {
  background: black;
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

a {
  color: rgba(252, 248, 230, 0.857);
  /* Color de texto */
  text-decoration: none;
}

.card-body {
  max-height: 100%;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.tarjetaGaleria {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 20px;
  width: 100%;
  padding: auto;
  border-radius: 20px;
  border-color: rgba(215, 192, 63, 0.713);
}

.card4 {
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  border: 2px rgba(214, 180, 58, 0.777) solid;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  /* Opcional */
  text-align: justify;
  background: transparent;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
}

.tarjetaGaleria1 {
  border-radius: 20px;
}

.card3 {
  text-align: center;
}

.card-title {
  color: rgb(141, 140, 131);
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  padding: 10px;
}

.card-title2 {
  text-transform: normal;
  font-size: small;
  text-align: center;
}

.imagenCard {
  background: transparent;
  border: none;
  border-radius: 20px;
}

.hijoCardAlineacion {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
  margin: auto;
}

/* Estilos para el teléfono de WhatsApp */
.telefonoWhattsapp {
  font-size: small; /* Tamaño de fuente */
  text-align: center; /* Alineación del texto */
  white-space: nowrap; /* Evita que el texto se envuelva */
}

/**LOGO WHATSAPP**/
.logoWhats {
  width: 1em;
}

/* Estilos para el mapa */
.mapaEstilo {
  background-color: transparent; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  font-style: normal; /* Estilo de fuente */
  font-size: 10px; /* Tamaño de fuente */
  width: "100%"; /* Ancho */
  height: "600px"; /* Altura */
  padding: 20px; /* Relleno */
  border-radius: 20px; /* Radio del borde */
  border: 5px orangered solid; /* Borde */
}

/* Estilos para el pie de página */
footer {
  font-size: 12px;
  /* Tamaño de fuente */
  background-color: rgba(30, 39, 90, 0.226); /* Color de fondo */
  border: 0.5px solid rgba(255, 255, 0, 0.242);
  color: rgb(239, 239, 187);
  /* Color de texto */
  margin: 1em;
  /* Margen */
  text-align: center;
  /* Alineación del texto */
  padding-top: 1em;
}

/* Estilos para los elementos del pie de página */
.footerElements {
  display: flex;
  /* Usa flexbox para el diseño */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  text-align: center;
  /* Alineación del texto */
}

/* Estilos para los enlaces en el pie de página */
.linksFooter {
  display: flex;
  /* Usa flexbox para el diseño */
  flex-direction: column;
  /* Dirección de los elementos */
  justify-content: center;
  /* Centra los elementos verticalmente */
  /* margin: 0 5rem; */
  /* Margen izquierdo y derecho */
}

/* Estilos para los elementos de lista en el pie de página */
.linksFooter div {
  list-style: none;
  /* Sin viñetas */
}

.footer1 {
  font-size: xx-small;
  color: rgb(193, 190, 190);
}

.padreReproductores {
  border: 3px orangered solid;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.gridEstilo1 {
  color: white;
  border-radius: 20px;
  border: 3px orangered solid;
  font-size: x-large;
}

.gridChordspadre {
  display: flex;
  justify-content: center;
}

.gridChords {
  border: 3px orangered solid;
  border-radius: 20px;
  color: aqua;
}

/* GRID */
.gridPadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* Centra verticalmente el contenido */
  margin: 0px auto; /* Para centrar el grid horizontalmente */
  max-width: 1168px; /* Establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas más grandes */
  margin-top: 0px; /* Ajusta este valor según la distancia deseada */
}

.item {
  text-align: center;
}

.item img {
  max-width: 15%;
  height: auto;
}

/*Header*/
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin-top: -2em;
  margin-bottom: 1px;
  height: 10rem;
  position: relative; /* Añade posición relativa para que los elementos hijos puedan tener posición absoluta */
}

.encabezado::before {
  content: "bannerpng1"; /* Crea un pseudo-elemento antes del contenido del encabezado */
  position: absolute; /* Posición absoluta para que se superponga detrás del contenido */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/00-fondos/fondoheader1.png); /* Ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
  background-position: center; /* Centra la imagen */
  opacity: 1; /* Opacidad de la imagen (0.0 - 1.0) */
}

/* Estilos para el contenido del encabezado */
.encabezado .tituloPrincipal,
.encabezado nav {
  position: relative; /* Añade posición relativa para que puedan tener z-index */
  z-index: 1; /* Asegura que estén por encima del fondo */
  color: white; /* Color de texto en el encabezado */
}

li {
  display: inline-block;
  color: antiquewhite;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a {
  color: rgb(255, 208, 0); /* Color por defecto del enlace */
  text-decoration: none; /* Quita el subrayado predeterminado */
  transition: color 0.3s; /* Transición suave de color */
}

nav ul li a:hover {
  color: rgb(243, 234, 188); /* Color del enlace al pasar el cursor sobre él */
}

h2 {
  color: rgba(254, 228, 96, 0.74);
}

.logoGames1 {
  margin-top: -1.1em; /* Ajusta el margen superior según sea necesario */
  margin-left: 3.5em;
  font-size: medium;
}

bodyInstruccionesJuego {
  text-align: center;
  color: yellow;
  border: 1px solid yellow;
}

#instructions {
  margin-top: 50px;
}

#instructions h2 {
  color: #333;
}

#instructions ol {
  text-align: left;
  margin-left: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(23, 86, 118, 0.7490196078);
  border: 2px solid rgb(204, 255, 0);
  border-radius: 20px;
  margin: 20px;
}

#bingo-container {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.board-container {
  margin-bottom: 20px;
}

.board {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
}

.board div {
  border: 1px solid rgb(30, 84, 17);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.marked {
  background-color: #00ff00;
  /* Color de fondo para números marcados */
  color: #1a2b09;
  /* Color del texto para números marcados */
  font-weight: bold;
  /* Texto en negrita para números marcados */
}

.llamado1 {
  font-size: large;
  color: rgb(165, 179, 41);
  border: 2px solid rgb(225, 255, 0);
  border-radius: 20px;
  padding: 40px;
  text-transform: uppercase;
  margin: 20px;
}

#llamado {
  font-size: xx-large;
  font-weight: bolder;
  margin: 20px;
  color: rgb(60, 255, 0);
  border: 4px solid rgb(238, 255, 0);
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  margin: 20px;
}

.textoLlamarNumero {
  color: rgb(223, 190, 23);
}

.botonLlamarNumero {
  background-color: rgba(23, 148, 35, 0.438);
  color: rgb(98, 255, 0);
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  margin: 20px;
}

.botonLlamarNumero:hover {
  background-color: rgba(97, 188, 97, 0.2980392157);
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: black;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 2px rgba(255, 213, 0, 0.71) solid;
}

#resultado {
  font-size: 24px;
  margin-top: 20px;
}

/* Estilos para el tablero */
#game-board {
  border: 1px solid black;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

/* Estilos para las celdas del tablero */
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  position: absolute;
}

/* Clases para diferentes colores de las piezas */
.piece {
  background-color: red;
}

/* Agrega estilos para otras piezas según sea necesario */
/* Estilos para el tablero */
#game-board {
  border: 1px solid black;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

/* Estilos para las celdas del tablero */
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  position: absolute;
}

/* Clases para diferentes colores de las piezas */
.piece {
  background-color: red;
}

/* Agrega estilos para otras piezas según sea necesario */
.objetoCentrado1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.objetoCentrado2 {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  padding-right: 50px;
  color: yellow;
}

.parrafoTitulo1 {
  align-items: center;
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.textoDiferente1 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.785);
}

.hoverLink1 {
  color: rgb(255, 208, 0); /* Color normal del enlace */
  text-decoration: none; /* Quita el subrayado predeterminado */
}

.hoverLink1:hover {
  color: rgb(255, 228, 90); /* Color del enlace al pasar el cursor sobre él */
}

/*******TITULOS********/
.h1Titulo {
  color: rgb(249, 230, 189);
  font-size: x-large;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.h2Titulo {
  color: rgb(240, 240, 167);
  font-size: large;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.tituloReproductores {
  text-align: center;
  color: rgba(255, 166, 0, 0.902);
}

/*Responsive Footer*/
@media screen and (max-width: 420px) {
  .linksFooter div {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 421px) and (max-width: 767px) {
  .linksFooter div {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .footerElements {
    flex-direction: column;
  }
  .linksFooter {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .img2Footer {
    display: none;
  }
  .img1Footer img {
    max-height: 2rem;
    margin-bottom: 0.5rem;
  }
}
/*Responsive Titulos*/
@media (max-width: 768px) {
  .h1Titulo {
    font-size: 1.2em;
  }
}
/*Responsive texto telefono*/
@media (max-width: 992px) {
  #telefonoWhattsapp {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  #telefonoWhattsapp {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
  p {
    font-size: small;
  }
}
@media only screen and (max-width: 600px) {
  .navBar {
    font-size: large;
  }
  .navBardrop1 {
    font-size: large;
  }
  .navBardrop2 {
    font-size: medium;
  }
}
@media only screen and (max-width: 600px) {
  .botonEnviar {
    font-size: 14px;
  }
  .botonComprar {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .carruselContainer {
    display: none;
  }
}
/*******BOTON COMPRAR********/
.botonComprar {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #565656;
  color: rgb(255, 213, 0);
  cursor: pointer;
  transition: all 0.3s ease;
  float: center;
}

.botonComprar:hover {
  background-color: rgba(86, 86, 86, 0.7254901961);
  color: #f2ff00;
  border: none;
}

.precio {
  color: rgb(255, 174, 0);
  padding: 0px;
  border: 2px rgba(214, 183, 71, 0.153) solid;
  margin: 0px;
  font-size: large;
}

/* Estilos para los productos en el carrito */
.producto-en-carrito {
  color: yellow;
  /* Estilos específicos para los productos en el carrito */
}

/* Estilos para los botones de eliminar */
.botonEliminar {
  color: rgb(255, 200, 1);
  border: 2px red solid;
  /* Estilos para los botones de eliminar */
}

.tamañoicono1 {
  font-size: 30px;
  color: rgb(255, 157, 0);
}

/*# sourceMappingURL=estilo.css.map */
