html {
    font-size: 100%;
    margin-top: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;

    background-image: linear-gradient(rgba(0, 0, 0, 0.564), rgb(255, 0, 0),rgb(0, 0, 0));
}

a {
    color: rgb(178, 180, 59); /* Color de texto */
    text-decoration: none;
}