/* Estilos para el pie de página */
footer {
  font-size: 12px;
  /* Tamaño de fuente */
 
  background-color: rgba(30, 39, 90, 0.226); /* Color de fondo */
  border: 0.5px solid rgba(255, 255, 0, 0.242);
  color: rgb(239, 239, 187);
  /* Color de texto */
  margin: 1em;
  /* Margen */
  text-align: center;
  /* Alineación del texto */
padding-top: 1em;
}

/* Estilos para los elementos del pie de página */
.footerElements {
  display: flex;
  /* Usa flexbox para el diseño */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  text-align: center;
  /* Alineación del texto */
}

/* Estilos para los enlaces en el pie de página */
.linksFooter {
  display: flex;
  /* Usa flexbox para el diseño */
  flex-direction: column;
  /* Dirección de los elementos */
  justify-content: center;
  /* Centra los elementos verticalmente */
  /* margin: 0 5rem; */
  /* Margen izquierdo y derecho */
}


/* Estilos para los elementos de lista en el pie de página */
.linksFooter div {
  list-style: none;
  /* Sin viñetas */
}