.padreReproductores {
    border: 3px orangered solid;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.gridEstilo1 {
    color: white;
    border-radius: 20px;
    border: 3px orangered solid;
    font-size: x-large;
}

.gridChordspadre {
    display: flex;
    justify-content: center;
}

.gridChords {
    border: 3px orangered solid;
    border-radius: 20px;
    color: aqua;
}