/*Header*/

.encabezado {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem 0;
    height: 10rem;
     // border: 1px rgba(0, 255, 255, 0.407) solid;
}


li {
    display: inline-block;
    color: antiquewhite;
    font-size: x-large;
    font-weight: bold;
}

h2 {
    color:rgba(254, 228, 96, 0.74);
}