/*Header*/

.encabezado {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem 0;
    height: 10rem;
}


li {
    display: inline-block;
    color: antiquewhite;
}