//INSTRUCCIONES BINGO

bodyInstruccionesJuego {
    // font-family: Arial, sans-serif;
    text-align: center;
    color: yellow;
    border: 1px solid yellow;
}

#instructions {
    margin-top: 50px;
}

#instructions h2 {
    color: #333;
}

#instructions ol {
    text-align: left;
    margin-left: 40px;
}



//ESTETICA JUEGO BINGO



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #175676bf;
    border: 2px solid rgb(204, 255, 0);
    border-radius: 20px;
    margin: 20px;
}

#bingo-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.board-container {
    margin-bottom: 20px;
}

.board {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
}

.board div {
    border: 1px solid rgb(30, 84, 17);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.marked {
    background-color: #00ff00;
    /* Color de fondo para números marcados */
    color: #1a2b09;
    /* Color del texto para números marcados */
    font-weight: bold;
    /* Texto en negrita para números marcados */
}


.llamado1 {
    font-size: large;
    color: rgb(165, 179, 41);
    border: 2px solid rgb(225, 255, 0);
    border-radius: 20px;
    padding: 40px;
    text-transform: uppercase;
    margin: 20px;
}


#llamado {
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px;
    color: rgb(60, 255, 0);
    // background-color: #00ff00;
    border: 4px solid rgb(238, 255, 0);
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    margin: 20px;
}


.textoLlamarNumero {
    color: rgb(223, 190, 23);
    // border: 1px solid yellow;
}

.botonLlamarNumero {
    background-color: rgba(23, 148, 35, 0.438);
    color: rgb(98, 255, 0);
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    margin: 20px;
}

.botonLlamarNumero:hover {
    background-color: #61bc614c;
 
}