.objetoCentrado1 {
    display: flex;
    justify-content: center;
    margin-top: 0;

}

.parrafoTitulo1 {
    align-items: center;
    color: blanchedalmond;
   font-family:'Courier New', Courier, monospace;
    font-size: large;
}

.textoDiferente1 {
    font-weight: bold;
    color: rgba(255, 255, 0, 0.68);
}