.objetoCentrado1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.parrafoTitulo1 {
    align-items: center;
    color: blanchedalmond;
   font-family:'Courier New', Courier, monospace;
    font-size: large;
}

.textoDiferente1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.785);
}



// CLASE PARA APLICAR HOVER A CUALQUIER LINK //
.hoverLink1 {
    color:rgba(254, 228, 96, 0.74); /* Color normal del enlace */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

.hoverLink1:hover {
    color:rgb(255, 213, 0); /* Color del enlace al pasar el cursor sobre él */
}



/*******TITULOS********/

.h1Titulo {
    color: rgb(249, 230, 189);
    // background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(255, 159, 4, 0.394));
    font-size: x-large;
    border: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .h2Titulo {
    color: rgb(240, 240, 167);
    text-transform: uppercase;
    font-size: large;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  
  .tituloReproductores {
    text-align: center;
    color: rgba(255, 166, 0, 0.902);
  }
  