.casino-grid-container {
  padding: 5px;
  background-color: rgba(219, 2, 2, 0.192);
  box-shadow: 0 2px 80px rgba(98, 0, 255, 0.37);
  text-align: center;
  border-radius: 10px;
  
  .casino-title {
    font-size: xx-large;
    color: #ffc400;
    padding: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .casino-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 0;
  }

  .casino-card {
    background-color: rgba(0, 31, 134, 0.103);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 80px rgba(111, 0, 255, 0.3);
    width: 100%;
    max-width: 280px;
    transition: transform 0.2s ease;
    text-align: center;
    color: #fff;

    &:hover {
      transform: translateY(-3px);
    }

    .casino-game-img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
      max-height: 100px;
    }

    .casino-game-title {
      font-size: medium;
      margin: 10px 0;
      color: #ffc400;
    }

    .game-info {
      font-size: small;
      color: #ccc;
      margin-bottom: 10px;

      p {
        margin: 0;
      }
    }

    .carousel-image {
      width: 100%;
      border-radius: 5px;
      max-height: 80px;
      object-fit: cover;
    }

    .comments-section {
      ul {
        list-style-type: none;
        padding: 0;
        font-size: x-small;

        li {
          color: #999;
          margin-bottom: 5px;
        }
      }
    }
  }
}
