/* Estilos generales del Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(44, 4, 4, 0.767);
  border-radius: 20px;
  box-shadow: 0 0px 60px rgba(255, 251, 0, 0.63);
  text-align: center;

  /* Diseño responsive */
  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media (min-width: 769px) {
    flex-direction: row;
    gap: 40px;
  }
}

.footer-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-logo {
    width: 100px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: medium;
  color: #fcd200;

  a {
    color: #fcd200;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #fff1b0;
    }
  }

  @media (min-width: 769px) {
    flex-direction: row;
    gap: 20px;
  }
}
