// Estilos generales para GamesListado
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px; // Limitar el ancho del componente padre
  margin: 0 auto; // Centrar el componente padre
  background: rgba(20, 24, 45, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 40px rgba(0, 247, 255, 0.3);

  .data-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); // Una columna por defecto
    gap: 10px; // Espacio entre tarjetas
    width: 100%;

    @media (min-width: 769px) {
      grid-template-columns: repeat(4, 1fr); // Mostrar cuatro tarjetas por fila en pantallas grandes
    }
  }

  .data-item {
    background-color: rgba(131, 25, 25, 0.144); // Fondo de cada tarjeta
    border-radius: 20px;
    padding: 10px; // Reducir padding para hacer más compacta la tarjeta
    box-shadow: 0 2px 40px rgba(255, 0, 0, 0.418);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;

    h3 {
      font-size: medium; // Tamaño de fuente más pequeño para compresión
      color: #fcd200; // Color amarillo patito
      margin-bottom: 5px; // Reducir margen inferior
      text-transform: uppercase;
    }

    .game-image {
      width: 100%; // Ajustar imagen al contenedor
      border-radius: 8px; // Bordes redondeados
      margin-bottom: 5px; // Margen inferior
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: x-small;

      td {
        padding: 5px; // Reducir padding
        border: 1px solid #ffee0091;
        color: #ffffff;
      }
    }
  }
}

// Estilos para la barra de búsqueda y filtros
.search-filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .category-buttons {
      display: flex;
      flex-wrap: wrap; // Permitir que los botones se envuelvan en dos filas
      gap: 10px;

      button {
        background-color: #fcd200; // Color amarillo patito
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 5px 8px; // Reducir padding
        font-size: small; // Tamaño de fuente más pequeño
        color: #222; // Color del texto oscuro
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &.selected {
          background-color: #00fbff; // Color cuando está seleccionado
          color: #333;
        }

        &:hover {
          background-color: #00fbff; // Color de hover
          color: #333;
        }
      }
    }

    .search-bar {
      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 10px;
        font-size: small;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #80bdff;
        }
      }
    }
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 200px; // Ajusta la altura según tus necesidades
  overflow: hidden;

  .carousel-image {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
  }

  .carousel-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
