.juego-conocimiento-fondo{
  background-image: url(/img/08-imagenes-juegos/id18-conocimiento-1.png);
  border-radius: 20px;
  box-shadow: 0 0 100px rgb(229, 255, 0);
  padding: 80px;
}

.juego-conocimiento {
  background-color: #061c44f8;
    text-align: center;
    color: #ffae00;
    border-radius:50%;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    padding: 80px;
    margin: 20px;
    text-transform: uppercase;
    box-shadow: 0 0 200px rgb(255, 255, 255);
  
    h1, h2 {
      color: #ffd900;
      text-shadow: 2px 2px 0 #000;
    }
  
    input {
      border: 2px solid #ffd000;
      background-color: #222;
      color: #ffae00;
      padding: 10px;
      margin: 10px 0;
      border-radius: 8px;
      width: 50%;
      text-align: center;
  
      &::placeholder {
        color: #888;
      }
    }
  
    button {
      background-color: #ffae00;
      border: none;
      color: #000;
      padding: 12px 24px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 8px;
      font-size: 1rem;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #b9a477;
        transform: scale(1.05);
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        background-color: rgba(255, 115, 0, 0.8);
        color: #fff;
        padding: 10px;
        margin: 10px 0;
        border-radius: 8px;
      }
    }
  }
  