.games-la-rule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: #fff;

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .games-puntos {
    font-weight: bold;
    color: #ac8900;
  }

  .games-jugar-btn {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c53c3c;
    }
  }

  .games-resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}
