//---------Estilos Generales--------------------//
.mainContent {
  width: 100%;
  background: rgba(20, 24, 45, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 40px rgba(0, 247, 255, 0.3);
  margin-top: 40px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  
}

//---------Carrusel--------------------//
.banner-container {
  margin-bottom: 40px;
}

.banner-image {
  width: 100%;
  border-radius: 20px;
}

//---------Contenedor General--------------------//
.mainContentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//---------Sección de Títulos--------------------//
.h2Titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0ff;
}

//---------Estilos de Noticias--------------------//
.newsSection {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.newsRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.newsItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
}

.newsText {
  padding: 15px;
}

.newsTitle {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.newsDescription {
  font-size: 16px;
  color: #ddd;
}

.newsDetails {
  font-size: 14px;
  color: #ccc;
  margin-top: 10px;
}

.newsItem img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #0ff;
}

//---------Estilos de Publicidades--------------------//
.adSection {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.adRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.adItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.adItem img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #0ff;
}

.adDescription {
  margin-top: 10px;
  font-size: 15px;
  color: #ddd;
}

//---------Estilos de Torneos--------------------//
.tournamentSection {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.tournamentRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.tournamentItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.tournamentText {
  padding: 10px;
}

.tournamentTitle {
  font-size: 22px;
  color: #fff;
}

.tournamentDescription {
  font-size: 16px;
  color: #ddd;
  margin-top: 10px;
}

.tournamentItem img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #0ff;
}

//---------Estilos de Casino--------------------//
.casinoSection {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.casinoRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.casinoItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.casinoText {
  padding: 10px;
}

.casinoTitle {
  font-size: 22px;
  color: #fff;
}

.casinoDescription {
  font-size: 16px;
  color: #ddd;
  margin-top: 10px;
}

.casinoItem img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #0ff;
}

//---------Estilos de Suscripción--------------------//
.subscriptionSection {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.subscriptionItem {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
}

.subscriptionText {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 20px;
}

.botonEnviar {
  background-color: #0ff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botonEnviar:hover {
  background-color: #00aaff;
}
