//---------overlay de autenticación--------------------//
.auth-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 9, 2, 0.938);
  z-index: 1000;
}

//---------contenedor de autenticación--------------------//
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .auth-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(5, 73, 82, 0.452);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.7); // Neón amarillo
    text-align: center;
    max-width: 800px;
    width: 100%;
    position: relative;
    font-family: 'Press Start 2P', cursive; // Tipografía retro arcade

    //---------imagen de autenticación--------------------//
    .auth-image {
      width: 80px;
      height: auto;
      margin: 1rem 0;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      filter: drop-shadow(0px 0px 8px #ffe600); 

      &:hover {
        transform: scale(1.1);
      }
    }

    //---------formulario de autenticación--------------------//
    .auth-form {
      flex: 1;
      width: 100%;

      h2 {
        margin-bottom: 1.5rem;
        color: #ffd000; 
        text-transform: uppercase;
        font-size: 1.8rem;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 3px solid #ffffff7e; // Neón rosa
        border-radius: 4px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000000;
        font-family: 'Press Start 2P', cursive;

        &:focus {
          outline: none;
          border-color: #ffd000; 
          box-shadow: 0 0 8px #855311;
        }
      }

      button {
        width: 100%;
        padding: 0.75rem;
        background-color: #ffd00162; // Neón rosa
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        text-transform: uppercase;

        &:hover {
          background-color: #925300;
        }
      }
    }

    //---------enlaces de autenticación--------------------//
    .auth-links {
      margin-top: 1rem;

      p {
        color: #ffffff;
        font-size: 0.9rem;

        a {
          color: #ffd000;  
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #00ffcc;
          }
        }
      }
    }

    @media (min-width: 768px) {
      flex-direction: row; // Volver a la dirección de fila en pantallas grandes

      .auth-image {
        margin: 20px;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.467);
      }
    }
  }
}

/*---------------------Loading Spinner------------------------*/
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  .spinner {
    width: 60px;
    height: 60px;
    border: 8px solid rgba(78, 71, 4, 0.2);
    border-radius: 50%;
    border-top: 8px solid #ffe600; // Neón rosa
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
