// src/assets/scss/_03-Componentes/_TiendaModalInicio.scss

body.modal-open {
  overflow: hidden;
  position: relative;
  z-index: 1000; /* Ajusta el z-index si es necesario */
}

// Estilos para el Modal
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Asegúrate de que esté por encima de otros elementos */
  overflow: hidden; /* Evita el desbordamiento de elementos */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.911); /* Fondo oscuro más tenue para el overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Asegúrate de que el overlay esté por encima de otros elementos */
}

.modal-wrapper {
  background: #61010196;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  animation: fadeInUp 0.5s ease-out; /* Animación de entrada */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2001; /* Asegúrate de que el contenedor del modal esté por encima del overlay */
  /* Elimina cualquier sombra */
  box-shadow: none;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center; /* Centrar el texto dentro del contenido del modal */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000e7; /* Rosa claro para el botón de cierre */
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 2002; /* Asegúrate de que el botón esté por encima del contenido del modal */
  /* Elimina cualquier sombra */
  box-shadow: none;
}

.modal-close:hover {
  background-color: #000000; /* Rosa oscuro al pasar el ratón */
}

.objetoCentrado1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloImportante4 {
  font-size: medium; /* Tamaño de fuente más grande */
  color: #ffffff; /* Rosa para el texto */
  margin: 0px;
}

.promo-list {
  margin: 0px;

  .promo-item {
    background-color: transparent; /* Fondo transparente para los items de promoción */
    color: #ffffff; /* Texto rosa */
    padding: 10px;
    border: dotted 2px white;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
    /* Elimina cualquier sombra */
    box-shadow: none;
  }
  .detalleBlanco {
    background-color: rgb(255, 174, 0);
    color: rgb(0, 0, 0);
    
  }
}

.btn-primary {
  background-color: #ff0101; /* Rosa vibrante */
  border: none;
  color: #fff; /* Color blanco para el texto del botón */
  padding: 12px 24px; /* Padding más amplio */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: small; /* Tamaño de fuente para el botón */
  /* Elimina cualquier sombra */
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #ff4747; /* Rosa oscuro al pasar el ratón */
  transform: scale(1.05); /* Escala al pasar el ratón */
}

// Animación para la entrada del modal
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Animación para el borde del contenedor
@keyframes pulse {
  0% {
    border-color: #ff6969;
  }
  50% {
    border-color: #f8bbbb;
  }
  100% {
    border-color: #ff6969;
  }
}
