// Productos
.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  box-shadow: 0 0 100px rgba(255, 0, 0, 0.467);
}

.producto-card {
  background-color: #ffffff4b;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.467);
  padding: 15px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(255, 0, 140, 0.504);
}

.producto-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.producto-image:hover {
  transform: scale(1.05);
}

.producto-title {
  font-size: 0.85rem; // Ajustado a un tamaño más pequeño
  font-weight: 500;
  color: #333;
  margin: 10px 0;
  text-transform: none; // No uppercase
}

.producto-price {
  font-size: 0.95rem; // Ajustado a un tamaño más pequeño
  color: #000000;
  margin-bottom: 10px;
}

.producto-button {
  background-color: #ff0101; // Rosa vibrante
  border: none;
  color: #ffffff; // Color blanco para el texto del botón
  padding: 8px 12px; // Padding ajustado
  border-radius: 5px; // Bordes redondeados
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 0.85rem; // Tamaño de fuente ajustado
}

.producto-button:hover {
  background-color: #a72020; // Rosa oscuro al pasar el ratón
  transform: scale(1.05); // Escala al pasar el ratón
}

.oferta-tag {
  position: absolute;
  top: 2px;
  right: 0px;
  background-color: #ff0000;
  color: #fff;
  padding: 0px 2px;
  border-radius: 5px;
  font-size:xx-small;
  text-transform: none;
  z-index: 1000;
}
