/* Estilos globales para el modo claro */
body {
  background-color: #f0f0f0; // Fondo claro
  color: #d73f3f; // Texto oscuro
}

.main-content.light-mode {
  background-color: #ffffff; // Fondo para el modo claro
  color: #333; // Texto oscuro

  a {
    color: #007bff;

    &:hover {
      color: #0056b3;
    }
  }

  .theme-switcher-button {
    background-color: #83b7c1;
    color: #000;

    &:hover {
      background-color: #e0e0e0;
    }
  }


  //---------Modo Oscuro/Claro Container--------------------//

.theme-switcher-button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    color: #00ddff;
  }
}}



.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.theme-switcher-button {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &.light {
    background-color: #f9f9f9; // Fondo claro
    color: #333; // Texto oscuro

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &.dark {
    // No se realizan cambios en el modo oscuro
    background-color: #3498a9;
    color: #fff;

    &:hover {
      background-color: #0c6c79;
    }
  }

  svg {
    margin-right: 3px;
  }

  span {
    font-size: xx-large;
  }
}
